<header class="header">
  <div class="header__section title">News List</div>
  <div class="header__section source">{{isEditMode 
    ? 'Edit' 
    : isAddMode ? 'Add' : currentSource}}</div>
  <div class="header__section header-buttons" *ngIf="!isEditMode && !isAddMode">
    <select [(ngModel)]="currentSource" class="header-buttons__select">
      <option *ngFor="let s of sources" [ngValue]="s"> {{s}} </option>
    </select>
    <button 
      class="app-button header__button"
      (click)="onAddNew()">
      Add Article
    </button>
  </div>
</header>