<form class="article-edit">
  <div class="article-edit__field">
    <label for="heading" class="article-edit__label">Heading</label>
    <input class="app-input article-edit__input"
          type="text"
          id="heading">
  </div>
  <div class="article-edit__field">
    <label for="description" class="article-edit__label">Short description</label>
    <input class="app-input article-edit__input"
          type="text"
          id="description">
  </div>
  <div class="article-edit__field">
    <label for="content" class="article-edit__label">Content</label>
    <textarea class="app-input article-edit__input content-input"
          type="text"
          id="content">
    </textarea>
  </div>
  <div class="article-edit__field">
    <label for="image" class="article-edit__label">Image</label>
    <input class="app-input article-edit__input"
          type="text"
          id="image">
  </div>
  <div class="article-edit__field">
    <label for="date" class="article-edit__label">Date</label>
    <input class="app-input article-edit__input"
          type="text"
          id="date">
  </div>
  <div class="article-edit__field">
    <label for="author" class="article-edit__label">Author</label>
    <input class="app-input article-edit__input"
          type="text"
          id="author">
  </div>
  <div class="article-edit__field">
    <label for="source" class="article-edit__label">Source URL</label>
    <input class="app-input article-edit__input"
          type="text"
          id="source">
  </div>
  <div class="article-edit__field">
    <button class="app-button save-button">Save</button>
    <button class="app-button cancel-button">Cancel</button>
  </div>
</form>
