$color-darkest-blue: #213451;
$color-blue: #224b7a;
$color-light-blue: #039be5;
$color-red: #CB2323;
$color-light-red: #ff3333;
$color-green: #5cba3d;
$color-dark-green: #18B366;
$color-white: #ffffff;