$base-width: 500px;
$element-width-lg: 250px;
$element-width-md: 120px;
$element-width-sm: 100px;
$element-height-lg: 180px;
$element-height-md: 35px;
$element-height-sm: 30px;

$element-margin-hg: 400px;
$element-margin-lg: 25px;
$element-margin-md: 15px;
$element-margin-sm: 7px;
$element-padding: 5px;

$border-radius: 3px;
$font-size-sm: 14px;